.header {
	display: flex;
	background-color: white;
	font-weight: bold;
	&__heading {
		margin: 0 auto;
	}
}

.section {
	background-color: white;
	&__subheading {
		font-size: 1rem;
	}
}

.form {
	margin: 2rem 0;
	background-color: white;

	&__container {
		margin: 2rem 0;
		opacity: 1;
	}

	&__title {
		font-size: 1rem;
	}

	&__label {
		font-weight: bold;
	}
}
